@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #407bff;
  --black: #000000;
  --orange: #f0750f;
  --customBlack: #344054;
  --secondaryBlack: #0f172a;
  --white: #ffffff;
}
/* Header Section Starts */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navbar {
  background-color: var(--white);
  color: var(--black);
}

.navbar-white {
  background-color: white;
}

.navbar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-menu ul li a {
  color: var(--black);
  text-decoration: none;
}

.navbar-buttons button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.button1 {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 14px;
  padding-left: 14px;
  background-color: white;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 6px;
  cursor: pointer;
}

.button2 {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 14px;
  padding-left: 14px;
  border: 1px solid white;
  background-color: var(--blue);
  color: white;
  border-radius: 6px;
}

.hamburger-menu {
  display: none;
}

/* Hero Section Starts */

.hero_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.hero_first_section {
  /* width: 490px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  padding-right: 10rem;
}

.hero_first_section h1 {
  font-size: 64px;
  line-height: 70.4px;
  color: var(--secondaryBlack);
}

.hero_first_section p {
  /* width: 440px; */
  font-size: 17px;
  margin-top: 1rem;
  color: var(--customBlack);
}

.hero_image1 {
  display: block;
  float: inline-end;
}

.hero_image2 {
  display: none;
}

/* Hero Section Ends */

/* Account Section Starts */

.account_wrapper {
  display: flex;
  flex-direction: column;
}

.account_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: -13rem;

}

.account_wrapper_first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 640.97px;
}

.account_wrapper_first p:first-child {
  font-size: 14px;
  color: var(--orange);
  margin-bottom: -2rem;
}

.account_wrapper h1 {
  font-size: 49.78px;
  color: var(--secondaryBlack);
}

.account_wrapper_first1 {
  font-size: 14px;
  color: var(--secondaryBlack);
  margin-bottom: 2rem;
}

.btn2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border: 1px solid white;
  background-color: var(--blue);
  color: white;
  border-radius: 6px;
}

.circles {
  display: flex;
  justify-content: space-between;
}

.orangecircles {
  position: relative;
  /* width: 360.11px; */
  /* height: ; */
}
.yellowcircle {
  position: absolute;
  left: 5rem;
  margin-top: 10rem;
  margin-left: 2rem;
}

.blueFullCircle {
  position: absolute;
  left: 5rem;
  margin-top: 30rem;
  margin-left: 1rem;
}

.secondcircle {
  margin-top: 16rem;
}

.creamcircle {
  position: relative;
  /* width: 300px; */
}

.bluecircle {
  position: absolute;
  right: 2rem;
  margin-top: 5rem;
}

.secondyellow {
  position: absolute;
  right: 6rem;
  margin-top: 23rem;
  z-index: 12;
}

.transaction {
  margin-top: -37rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction img {
  width: 1088.89px;
  height: 947.95px;
}

/* Service Section */

.service_section {
  display: flex;
  margin-top: 10rem;
  gap: 10rem;
  padding-right: 1rem;
}

.service_title {
  padding-right: 2rem;
}

.service_title h6 {
  font-size: 13px;
  color: var(--orange);
}

.service_title h1 {
  font-size: 49.78px;
  margin: -6px 0;
  color: var(--secondaryBlack);
}

.paragraph1 {
  font-size: 14px;
  color: var(--secondaryBlack);
  margin-bottom: 2rem;
  padding-right: 5rem;
}

.service_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  gap: 2rem;
}

.service_body_list h3 {
  font-size: 17.78px;
  line-height: 28.44px;
  font-weight: 700;
  color: var(--secondaryBlack);
}

.service_body_list p {
  font-size: 14.22px;
  font-weight: 400;
  line-height: 22.75px;
  color: var(--secondaryBlack);
}

/* System section */

.system_section {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  gap: 10rem;
  padding-left: 2rem;
}

.system_title {
  display: block;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
}

.system_title h6 {
  font-size: 13px;
  color: var(--orange);
}

.system_title h1 {
  font-size: 49.78px;
  margin: -6px 0;
  color: var(--secondaryBlack);
}

.system_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  gap: 2rem;
}

.system_body_list img {
  width: 40px;
  height: 40px;
}

.system_body_list p {
  font-size: 14.22px;
  font-weight: 400;
  line-height: 22.75px;
  color: var(--secondaryBlack);
}

.download_section {
  background-color: var(--blue);
  margin: 0 5rem;
  margin-top: 10rem;
  padding: 4rem 4rem;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 30.79px;
}

.download {
  display: flex;
  justify-content: space-between;
}

.download_body {
  padding-right: 15rem;
}

.download:last-child {
  margin-bottom: -4.4rem;
}

.download h1 {
  color: var(--white);
  font-size: 49.07px;
  line-height: 62.76px;
}

.download p {
  color: var(--white);
  font-size: 15.39px;
  padding-right: 10rem;
  line-height: 27.9px;
  margin-top: -1rem;
}

.download_button {
  display: flex;
  gap: 3rem;
}

.btn3 {
  background-color: var(--white);
  display: flex;
  padding: 0.7rem 2rem;
  align-items: center;
  color: var(--blue);
  border: none;
  gap: 1rem;
  border-radius: 7.7px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  justify-content: space-between;
  margin: 4rem 4rem;
  font-size: 12.44px;
}

.footer1 p {
  font-size: 12.44px;
  width: 152px;
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer2 li {
  color: var(--black);
  text-decoration: none;
  list-style-type: none;
  margin-top: 1rem;
  font-weight: 500;
}

.footer2 li:first-child {
  color: var(--blue);
  margin-top: 0;
  font-weight: 400;
}

.footer3 {
  color: var(--blue);
  font-weight: 400;
}

.btn4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  width: 156.22px;
  margin-top: 1rem;
  gap: 1.5rem;
  background-color: var(--black);
  border: 0;
  border-radius: 8.89px;
}

.btn4_feature1 {
  font-size: 9.78px;
  color: var(--white);
}

.btn4_feature2 {
  font-size: 12.44px;
  margin-top: -4px;
  color: var(--white);
}

.copyright {
  display: flex;
  flex-direction: column;
  font-size: 12.44px;
  color: #002657;
  justify-content: center;
  align-items: center;
}

.footer_mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar {
    background-color: transparent;

  }

  .navbar-white {
    background-color: white;
  }

  .container {
    max-width: 100%;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    gap: 7rem;
    transition: background-color 0.3s ease;
    background-color: transparent;
    top: 0;
    left: 0;
  }

  .navbar-buttons button {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-icon {
    margin: 5px;
  }

  .hero_image1 {
    display: none;
  }

  .hero_image2 {
    display: flex;
    margin-right: -7rem;
    position: relative;
  }

  .hero_wrapper {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
    justify-content: center;

  }

  .hero_first_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0;
  }

  .hero_first_section h1 {
    font-size: 40px;
    text-align: center;
    line-height: 44px;
  }

  .hero_first_section p {
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
    color: var(--customBlack);
  }

  .hero_second_section {
    margin-right: 0;
  }

  .account_wrap {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: -8rem;
    margin-top: 2rem;


  }

  

  .account_wrapper_first {
    font-size: 16px;
  }

  .account_wrapper_first1 {
    font-size: 16px;
    line-height: 25.6px;
  }

  .account_wrapper_first p:first-child {
    font-size: 16px;
  }

  .btn2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }









  .circles {
    display: none;
  }
  
  .transaction {
    display: none;
  }
  
  .mobilecirlce {
    display: flex;
    justify-content: space-between;
  }

  .purplecircle {
    right: 0;
  }

  .lightorange {
    position: relative;

  }

  .lightyellowcircle {
    position: absolute;
    width: 46.1px;
    height: 46.1px;
    left: .5rem;
    margin-top: 3rem;
  }

  .mobilesecond {
    margin-top: 4rem;
  }

  .transaction2 {
    margin-top: -7rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .transaction2_img {
    width: 385px;
  }

  .smallpurple{
    position: absolute;
    left: .5rem;
    margin-top: 13rem;
    z-index: 12;
  
  }

  .lightyellowcircle2{
    position: absolute;
    right: 0.5rem;
    width: 40.99px;
    margin-top: 8rem;
    z-index: 12;

  }

  .purplecircle {
    margin-right: -0.5rem;
  }










  .service_section {
    display: flex;
    flex-direction: column-reverse;
  }

  .service_section img {
    width: 349.56px;
    height: 594px;
  }

  .service_title {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
  }

  .paragraph1 {
    font-size: 14px;
    color: var(--secondaryBlack);
    margin-bottom: 2rem;
    padding-right: 0;
  }

  .service_body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 0 1rem;
  }

  .service_body_list {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .service_body_list img {
    width: 50px;
    height: 50px;
  }

  .service_body_list h3 {
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
  }

  .service_body_list p {
    font-size: 14px;
    line-height: 20.8px;
  }

  .system_section {
    flex-direction: column;
    gap: 2rem;
  }

  .system_section img {
    width: 399.56px;
    height: 574px;
  }

  .system_title {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .system_body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 0 1rem;
  }

  .system_body_list img {
    width: 40px;
    height: 40px;
  }

  .system_body_list h3 {
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
  }

  .system_body_list p {
    font-size: 14px;
    line-height: 20.8px;
  }

  .download_section {
    display: none;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin: 4rem 4rem; */
    font-size: 10.44px;
    justify-content: center;

  }

  .footer1 {
    display: none;
  }

  .footer2 {
    padding: 0 1rem;
  }

  .spread {
    width: 120px;
  }

  .footer_mobile {
    font-size: 12.44px;
    margin: 1rem;
  }

  .copyright {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .copyright_span {
    font-weight: 600;
  }
  .copyright2 {
    display: none;
  }
}
